package com.lbt.icon.${package};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

@SpringBootApplication(scanBasePackages = "com.lbt.icon")
public class ${artifact}Application {
	public static void main(String[] args) {
		SpringApplication.run(${artifact}Application.class, args);
	}
}

