package com.lbt.icon.${artifact}.config;

import org.modelmapper.ModelMapper;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;

import javax.validation.Validation;
import javax.validation.Validator;
import javax.validation.ValidatorFactory;

@Configuration
public class DefaultConfig {
    @Bean
    public ModelMapper modelMapper() {
        return new ModelMapper();
    }

    @Bean
    public ValidatorFactory validatorFactory() {
        ValidatorFactory validatorFactory = Validation.buildDefaultValidatorFactory();

        return validatorFactory;
    }

    @Bean
    public Validator defaultValidator() {
        Validator validator = validatorFactory().usingContext().getValidator();
        return validator;

    }
}

